<h1>Report</h1>

Node: <%= link_to @report.node.name, node_path(@report.node) %>
<br />
Time: <%= @report.timestamp %>

<div id="report_details" class="details">
  Logs:
  <ul id="report_logs" class="logs">
    <% @report.logs.each do |log| %>
      <li>
        level: <%= log.level %>
        <br />
        message: <%= log.message %>
        <br />
        source: <%= log.source %>
        <br />
        time: <%= log.timestamp %>
        <br />
        <% unless log.tags.blank? -%>
        tags: <%= log.tags %>
        <br />
        <% end -%>
      </li>
    <% end %>
  </ul>
  Metrics:
  <% categorized = Metric.categorize(@report.metrics) %>
  <% categorized.keys.sort.each do |category| %>
  <div class="report_<%= category %>_metrics">
		<h3><%= category.titleize %></h3>
    <div class="metrics">
	    <ul id="report_<%= category %>_metrics">
    <% categorized[category].each do |metric| %>
        <li><%= metric.label %>: <%= metric.value %></li>
    <% end -%>
      </ul>
    </div>
	</div>
  <% end -%>
</div>
	