<h1>Report for <%= link_to @report.node.name, node_path(@report.node) %> at <%= @report.timestamp %></h1>

<div id="report_details" class="details">
  <div class="report_metrics">
  <% categorized = Metric.categorize(@report.metrics) %>
  <% categorized.keys.sort.each do |category| %>
  <div class="report_<%= category %>_metrics report_category_metrics">
		<h3><%= category.titleize %></h3>
    <div class="metrics">
	    <ul id="report_<%= category %>_metrics">
    <% categorized[category].each do |metric| %>
        <li><%= metric.label %>: <%= metric.value %></li>
    <% end -%>
      </ul>
    </div>
	</div>
  <% end -%>
  </div>
  <div class="report_logs">
    <h3>Logs</h3>
    <ul id="report_logs" class="logs">
      <% @report.logs.each do |log| %>
        <li class="<%= log.level %>">
          level: <%= log.level %>
          <br />
          message: <%= log.message %>
          <br />
          source: <%= log.source %>
          <br />
          time: <%= log.timestamp %>
          <br />
          <% unless log.tags.blank? -%>
          tags: <%= log.tags %>
          <br />
          <% end -%>
        </li>
      <% end %>
    </ul>
  </div>
</div>
	