<h1>Report</h1>

Node: <%= link_to @report.node.name, node_path(@report.node) %>
<br />
Time: <%= @report.timestamp %>

<div id="report_details" class="details">
  Logs:
  <ul id="report_logs" class="logs">
    <% @report.logs.each do |log| %>
      <li>
        level: <%= log.level %>
        <br />
        message: <%= log.message %>
        <br />
        time: <%= log.time %>
        <br />
        <% unless log.tags.empty? -%>
        tags: <%= log.tags.collect(&:to_s).sort.join(', ') %>
        <br />
        <% end -%>
      </li>
    <% end %>
  </ul>
  Metrics:
  <% if @report.metrics['time'] %>
    <div class="metrics">
      Time:
      <ul id="report_time_metrics">
        <% @report.metrics['time']['values'].each do |time| %>
          <li><%= time[1] %> --- <%= time[2] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="metrics">
    Resources:
    <ul id="report_resources_metrics">
    </ul>
  </div>
  <div class="metrics">
    Changes:
    <ul id="report_changes_metrics">
    </ul>
  </div>
</div>
