<h1>Report</h1>

Node: <%= link_to @report.node.name, node_path(@report.node) %>
<br />
Time: <%= @report.timestamp %>

<div id="report_details" class="details">
  Logs:
  <ul id="report_logs" class="logs">
    <% @report.logs.each do |log| %>
      <li>
        level: <%= log.level %>
        <br />
        message: <%= log.message %>
        <br />
        time: <%= log.timestamp %>
        <br />
        <% unless log.tags.blank? -%>
        tags: <%= log.tags %>
        <br />
        <% end -%>
      </li>
    <% end %>
  </ul>
  Metrics:
  <% if @report.metrics['time'] %>
    <div class="metrics">
      Time:
      <ul id="report_time_metrics">
        <% @report.metrics['time'].values.each do |time| %>
          <li><%= time[1] %> --- <%= time[2] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @report.metrics['resources'] %>
    <div class="metrics">
      Resources:
      <ul id="report_resources_metrics">
        <% @report.metrics['resources'].values.each do |resources| %>
          <li><%= resources[1] %> --- <%= resources[2] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @report.metrics['changes'] %>
    <div class="metrics">
      Changes:
      <ul id="report_changes_metrics">
        <% @report.metrics['changes'].values.each do |changes| %>
          <li><%= changes[1] %> --- <%= changes[2] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
