<h1>Node <%= link_to @node.name, node_path(@node) %></h1>
<h3>Last report: 
	<% if @most_recent_report %>
	  <%= link_to distance_of_time_in_words_to_now(@most_recent_report.timestamp) + " ago", report_path(@most_recent_report) %> (<%= @most_recent_report.timestamp %>)
	<% else %>
	  Never reported in.
	<% end %>
</h3>
<%= render :partial => 'facts', :locals => { :facts => @node.details } %>
<% unless @node.failures.empty? %>
Failures:
<ul id="failure_list">
  <% @node.failures.each do |failure| %>
    <li><%= failure.value %> &mdash; <%= link_to distance_of_time_in_words_to_now(failure.report.timestamp) + ' ago', report_path(failure.report) %> (<%= failure.report.timestamp %>)</li>
  <% end %>
</ul>
<% end %>
