<tr class="<%= log.level %>">
  <td><%= log.level %></td>
  <td><%= log.message %>
  <br /><br />
  <%= log.source %>
  <br /><br />
  <%= log.timestamp %>
  <% unless log.tag_names.blank? -%>
  <br /><br />
  tags: <%= log.tag_names %>
  <% end -%>
  <br /><br />
  <%= link_to log.node.name, node_path(log.node) %>
  <br /><br />
  reported at <%= link_to log.report.timestamp, report_path(log.report) %>
  </td>
</tr>