= javascript_include_tag "logs.js"
= juggernaut
#content

  = javascript_include_tag "search.js"
  #search
    - form_tag(search_path, {:id => 'search_form', :method => 'get' }) do
      = text_field_tag 'q'
      = submit_tag('Search')
  #search_results_container

  #node_status
    %h2
      Node Status
    #failed_nodes
      %h3
        Failed
      %ul
        - @failed_nodes.each do |node|
          %li
            = link_to node.name, node
    #silent_nodes
      %h3
        Not Checked In
      %ul
        - @silent_nodes.each do |node|
          %li
            = link_to node.name, node
  #logs
    %h2
      Logs
    #scrolling_log_list
      %table#scrolling_logs.logs
        %tr#scrolling_logs_top/
        = render :partial => 'logs/log', :collection => @logs
