<div id="content">
  
  <div id="node_status">
    <h2>Node Status</h2>
    
    <div id="failed_nodes">
      <h3>Failed</h3>
      
      <ul>
        <% @failed_nodes.each do |node| %>
          <li><%= link_to node.name, node %></li>
        <% end %>
      </ul>
    </div>
    
    <div id="silent_nodes">
      <h3>Not Checked In</h3>
      
      <ul>
        <% @silent_nodes.each do |node| %>
          <li><%= link_to node.name, node %></li>
        <% end %>
      </ul>
    </div>
    
  </div>
  
  <div id="logs">
    <h2>Logs</h2>
    
    <table id="dashboard_logs" class="logs">
      <% @logs.each do |log| %>
      <tr class="<%= log.level %>">
        <td><%= log.level %></td>
        <td><%= log.message %>
        <br /><br />
        <%= log.source %>
        <br /><br />
        <%= log.timestamp %>
        <% unless log.tag_names.blank? -%>
        <br /><br />
        tags: <%= log.tag_names %>
        <% end -%>
        </td>
      </tr>
      <% end %>
    </table>
    
  </div>
  
</div>
